@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;

    --range-slider:          #888888; /* slider main background color */
    --range-handle-inactive: #fed7aa; /* inactive handle color */
    --range-handle:          #f97316; /* non-focussed handle color */
    --range-handle-focus:    var(--range-handle); /* focussed handle color */
    --range-handle-border:   var(--range-handle); /* handle border color */
    --range-range-inactive:  var(--range-handle-inactive); /* inactive range bar background color */
    --range-range:           var(--range-handle-focus); /* active range background color */
    --range-float-inactive:  var(--range-handle-inactive); /* inactive floating label background color */
    --range-float:           var(--range-handle-focus); /* floating label background color */
    --range-float-text:      white; /* text color on floating label */
    
    --range-pip:                #888888; /* color of the base pips */
    --range-pip-text:           var(--range-pip); /* color of the base labels */
    --range-pip-active:         var(--range-pip); /* active pips (when handle is on a slider-stop) */
    --range-pip-active-text:    var(--range-pip-active); /* active labels (when handle is on a slider-stop) */
    --range-pip-hover:          var(--range-pip); /* when a slider-stop is hovered */
    --range-pip-hover-text:     var(--range-pip-hover); /* when a slider-stop is hovered */
    --range-pip-in-range:       var(--range-pip-active); /* pips inside the range */
    --range-pip-in-range-text:  var(--range-pip-active-text); /* labels inside the range */
}

body {
    background-color: #000000;
}

h1 {
    color: white;
    font-size: 1.5rem;
}

h2 {
    color: #bbbbbb;
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    color: #bbbbbb;
}

@layer utilities {
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        transition: background-color 9999s ease-in-out 0s;
    }
}